# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# IDE
.idea/
.vscode/
*.swp
*.swo

# Temporary files
*.log
tmp/

# EAS
.eas/
.vercel

server/certs/*
.venv/
*.ait
.granite/
docs/app_in_toss/토스 로그인 API _ 토스 인증.html
